@yellow:#d6d211;
@colA: #d45;
@colB: #3c5f99;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
}
  
  .footer {
    padding: 30px 10px 0 10px;
    background-color: @colB;
    .margenes(10px, 0px);
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); 
  }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
    background-color: @colA; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }