$yellow:#d6d211;
$colA: #6c3c99;
$colB: #3c5f99;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color:black;
    @include margenes(50px,0px);
}
.footer{
    padding: 30px 10px 0 10px;
    background-color: $colB;
    @include margenes(10px,0px);
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px,0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: $colA;
}
.footer-address-icon {
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}