.jumbotron {
  background-color: #d6d211;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 30px 10px 0 10px;
  background-color: #3c5f99;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: #d45; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
